<div class="form-group">
    <label for="softwarebase">{{ 'SOFTWARE_BASE' | translate }}</label>
    <input type="text" class="form-control" name="softwarebase" ng-model="formData.softwarebase" placeholder="{{ 'SOFTWARE_BASE_DESC' | translate }}">
</div>

<div class="form-group">
    <label for="sofwareservice">{{ 'SOFTWARE_SERVICE' | translate }}</label>
    <input type="text" class="form-control" name="softwareservice" ng-model="formData.softwareservice" placeholder="{{ 'SOFTWARE_SERVICE_DESC' | translate }}">
</div>

<div class="form-group">
    <label for="type">{{ 'TYPE' | translate }}</label>
     <select name="type" ng-model="formData.type" class="form-control">
      <option value="" selected disabled>{{ 'SELECT' | translate }}</option>
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
    </select>
</div>

<div class="form-group">
    <label for="domain">{{ 'DOMAIN' | translate }}</label>
     <select name="domain" ng-model="formData.domain" class="form-control">
      <option value="" selected disabled>{{ 'SELECT' | translate }}</option>
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
    </select>
</div>

<div class="form-group">
    <label for="location">{{ 'LOCATION' | translate }}</label>
    <input type="text" class="form-control" name="location" ng-model="formData.location" placeholder="{{ 'LOCATION_DESC' | translate }}">
</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="form.payment" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
